get-dkim.ps1
get-dmarc.ps1
get-spf.ps1
Check-Domains.ps1
Commented_Script.txt
DKIM_Records.csv
dkim.py
dkim.txt
dmarc_domains.txt
DMARC_Records.csv
dmarc.csv
dmarc.py
dmarc.txt
domains.txt
spf_domains.txt
spf_records.csv
SPF.py
spf.txt
